
/* #app {
  width: 700px;
  margin: 30px, 50px;
} */

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

th, td {
  padding: 8px 16px;
  border: 1px solid gray;
  text-align: left;
}

th {
  background-color: #f7f7f7;
  color: #5c6b77;
  font-weight: 600;
}